<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tools.mdsd.mocore Target Platform" sequenceNumber="1">
	<locations>
        <location includeAllPlatforms="false"
        	includeConfigurePhase="true"
        	includeMode="planner"
        	includeSource="false"
        	refresh="true"
        	type="InstallableUnit">
            <unit id="org.palladiosimulator.generator.fluent" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-addons-fluentapimodelgenerator/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="release"
            refresh="true">
            <unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/releases/latest/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="nightly"
            refresh="true">
            <unit id="de.uka.ipd.sdq.identifier.feature.feature.group" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-commons/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="release"
            refresh="true">
            <unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/releases/latest/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="nightly"
            refresh="true">
            <unit id="org.palladiosimulator.pcm.feature.feature.group" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-core-pcm/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="nightly"
            refresh="true">
            <unit id="org.palladiosimulator.branding" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-branding/nightly/" />
        </location>
        <location includeAllPlatforms="false"
            includeConfigurePhase="true"
            includeMode="planner"
            includeSource="false"
            type="InstallableUnit"
            filter="release"
            refresh="true">
            <unit id="org.palladiosimulator.branding" version="0.0.0" />
            <repository location="https://updatesite.palladio-simulator.com/palladio-supporting-branding/releases/latest/" />
        </location>
	</locations>
</target>
